/* general styles and variables */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

:root {
  --gray-1: #4E5150;
  --gray-2: #A9A9A9;
  --gray-3: #B9BDCF;
  --gray-4: #6060609f;
  --purple: #4400ff3e;
  --purple-1: #f2e7ff;
  --pink: #F072C6;
}

*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding: 5% 17% 2% 17%;
}
/* profile */
.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.profile img{
  width: 156px;
  height: 156px;
  border-radius: 16px;
  border: 3px solid var(--purple);
}
.profile h3{
  font-size: 24px;
  color: var(--gray-1);
}
.profile .ubication{
  font-size: 14px;
  color: var(--gray-2);
}
.information{
  display: flex;
  gap: 20px;
}
.information .card{
  width: 100px;
  padding: 15px;
  background-color: var(--purple-1);
  border-radius: 12px;
  text-align: center;
  box-sizing: border-box;
}
.card .number{
  font-size: 18px;
  color: var(--gray-1);
}
.card .subtitle{
  font-size: 14px;
  color: var(--gray-4);
}
/* gallery */
.gallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3%;
  margin: 15% 0;
}
.gallery img{
  height: 100%;
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0px 4px 6px 0px #00000026;
}
.gallery img:nth-child(2),
.gallery img:nth-child(3){
  grid-column-start: span 2;
}
.gallery img:nth-child(4){
  grid-row-start: span 2;
}
/* footer */
footer p{
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: var(--gray-3);
}
footer a{
  font-weight: 700;
  color: var(--gray-3);
}
footer a:hover{
  color: var(--pink);
}

@media (max-width: 700px){
  body{
    padding: 7% 4%;
  }
  .profile{
    margin-bottom: 6%;
  }
  .profile img{
    width: 101px;
    height: 101px;
  }
  .profile h3{
    font-size: 14px;
  }
  .profile .ubication{
    font-size: 10px;
  }
  .information .card{
    width: 78px;
    padding: 10px;
  }
  .information .number,
  .information .subtitle{
    font-size: 12px;
  }
}